*{
    font-family: 'MuseoSans-300',sans-serif;
}
#header{
    height:42px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:0.5px solid rgb(228, 220, 220)

}
#header>div:first-child{
    height:42px;width:30%;
    display: flex;justify-content: space-around;margin-left: -20px;
}
#header>div:last-child{
    height:42px;width:15%;color:#575757;

}  
#header > div:first-child > div{
    justify-content: center;width:20%;font-size: 14px;text-align: center;
    color:#575757;
} 
#secondline{
    display: flex;
} 
.logo{
    height:41px;width:180px;margin-left: 10px;padding:10px 10px;
}
#secondline > span{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #47465b;
    margin: 22px 0 0 3px;
}
#categories{
    font-family:sans-serif;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;border: none;font-weight: bold;

}
hr{
    border: 0.1px solid rgb(236, 235, 235);
}
.posts{
    padding: 65px 0px  30px 140px ;
}
#container{
    height:6240px;width:90%;margin:auto;display: grid;justify-content: space-between;
    grid-template-columns: repeat(3,1fr);grid-template-rows: auto;gap:20px;
    grid-template-areas:
    "a a b"
    "a a b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b"
    "c c b";
}
#sample{
    height:600px;width:900px;margin:0px 0px 30px 40px;padding:15px;border-radius: 5px;
    grid-area: a;

}
#sample:hover{
    background-color: whitesmoke;
}
#sample > img{
    width:100%;border-radius: 5px;
}
.marketing40{
    font-family: sans-serif;padding:0px;font-weight: 400px;
    color:#5c5047
}
#sample > p{
    font-size: 17px;
line-height: 160%;
color: #a2a2a2;
margin: 10px 0 30px;
}
#sample > div {
    height:55px;width:250px;display: flex;
}
#sample > div>img{
    height:42px;width:42px;border-radius: 50%;padding:5px;;
}
#sample > div >h4{
    font-size: 16px;color:#A2A2A2;font-weight: bold;margin-top:5px;margin-left: 5px;
}
#aside{
    height:6240px;width:424px;grid-area: b;
}
#aside > div{
    height:304px;width:354px;background-color: whitesmoke;border-top: 5px solid #ef7154;border-radius: 5px;margin:auto;
}
#aside>div>img{
    height:124px;width:180px;margin:-75px 0px 0px 85px
}
#aside > div >h3{
    text-align: center;line-height: 140%;font-family: sans-serif;padding:30px;margin-top: -40px;
}
#aside > div>p{
    text-align: center;line-height: 140%;margin-top: -20px;color:rgb(138, 119, 119)
}
#aside>div>button{
    display: inline-block;min-width: 220px;padding: 15px 20px;background-color: #fff;border-radius: 3px;cursor: pointer;
font-family:sans-serif;font-size: 15px;text-align: center;background-color: #ef7154;color:white;font-weight: bold;
margin-left:70px;border:none
}
#aside>div>button:hover{
    background-color: #dd6449;
}
#aside > p{
    margin:20px 0px 0px 35px;
color:#A2A2A2;font-size: 19px;font-family: sans-serif;padding:10px

}
#aside >p:hover{
    color:#ee9c89
}
#aside > hr{
    color:#e9e9e9;width:80%;align-items: center;
}
#thirdbox{
    height:5300px;width:900px;grid-area: c;margin:-20px 0px 30px 40px;display: grid;
    grid-template-columns: repeat(2,1fr);grid-template-rows: repeat(10,1fr);gap:20px;padding:15px;
}
#thirdbox > div{
    border-radius: 5px;padding:15px
}
#thirdbox > div > img{
    width:100%;border-radius: 5px;
}
#thirdbox > div > h3{
    line-height: 150%;margin-bottom: 20px;text-align: left ;font-size: 22px;color: #474747;
}
#thirdbox > div > p{
    margin: 15px 0px 30px;color: #A2A2A2;font-size: 18px;line-height: 160%;
}
#innerbox{
    display: flex;
}
#innerbox > img{
    height:42px;width: 42px;border-radius: 50%;padding:5px
}
.name{
    font-size: 16px;color:#A2A2A2;font-weight: bold;margin-top:7px;margin-left: 5px;
}
.date{
    font-size: 14px;color:#A2A2A2;margin-top:-13px;margin-left: 5px;
}
#thirdbox > div:hover{
    background-color: whitesmoke;
}

#categories{
    width:250px;
    height:auto;
box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
padding:20px;
line-height:20px;
position:absolute;
top:80px;
display: none;
font-family: sans-serif;
font-weight: lighter;
background-color:#fff;
color:#474747;
}
#categories > button{
    border:none;
    background: none;
    height:30px;
    font-size: 16px;
    color:#575757

}
#categories > hr{
    color:rgb(250, 248, 248)
}
#cat:hover div{
    display:block
}
#categories > button:hover{
    color:coral
}
#secondline > div:first-child{
    position:relative;
cursor:pointer;
}
#cat{
    margin:25px;margin-top: 20px;
}
#anc{
    color:black;text-decoration: none;font-family: sans-serif;font-size: 14px;font-weight:bold;
    border:none;
    background: none;
    height:30px;
    font-size: 14px;
    color:#575757
    
}
#anc:hover{
    color:coral
}