*{
    box-sizing: border-box;
    font-family: sans-serif
}
#godFather{
    background-color: whitesmoke;
    height: 550px;

}
a{
    text-decoration: none;
    color: #787878;
    font-size: 13px;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
}
a:hover{
    color: black;
}
#fContainer{
    width: 80%;
    height: auto;
    display: flex;
    padding: 30px;
  margin:auto;
}
.footerLogo{
    height:425px ;
    width: 22%;
}
.footerContent{
    height:425px ;
    width: 75% ;
    display: grid;
    grid-template-columns: repeat(3,320px);
    grid-template-rows: 240px 200px;
}
.footerContent img+a{
    margin-left: 7px;
}
.footerContent>div{
    margin-left: 30px;
}

.footerContent>div>div{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
h5{
    margin-bottom: 14px;
    color: #474747;
}
#fContainer+div{
    height: auto;
    width: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}
.footerLogo>img{
    height:60.33px ;
    width:60.33px ;
}
.footerLogo>div{
    margin-top: 10px;
    margin-left: 4%;
}
.footerContent img{
    height: 15px;
}
#godFather p{
    color: #787878;
    font-size: 14px;
    margin-left: 3%;
}
p+div{
    margin-right: 7%;
}
div>i{
    font-size: 29px;
    margin-right: 3px;
    color: lightgray;
    border-radius: 50%;
}
