#Akbar{
    height:600px;
    width:100%;
    background-color:#f8f8f8;
  }
  /* #Akbar>.Reena{
    width:100%;
    height:160px;
  } */
  #Akbar>div{
    height:300px;
    width:100%;
  }
  
  
  #main_top{
    text-align:center;
    width:70%;
    height:78px;
    margin:auto;
    font-size:50px;
    color:#4B4B4B;
  }
  h1+p{
    width:750px;
    height:50px;
    color:#4B4B4B;
    margin:auto;
    margin-top:70px;
    font-size:19px;
    padding-left:50px;
  }
  #firstclick{
    width:220px;
    height:51.42px;
    background-color:#F37E5D;
    border:0px; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left:550px;
  } 
  
  #firstclick:hover{
     background-color:orangered;
  }
  
  div >.small{
    width:300px;
    height:21px;
    font-size:16px;
    color:#4B4B4B;
    margin-left:572px;
    padding-top:0px;
  }
  #firstpic{
    margin-left:170px;
  }
  #Babar{
    width:100%;
    height:480px;
    margin-top: -150px;
    margin-bottom:250px;
    color:#ffffff;
  }
  #Babar>div{
    width:80%;
    height:320px;
    margin:auto;
    margin-top:60px;
  
  }
  #sline{
    width:80%;
    height:34.00px;
    color:#4B4B4B;
    margin:auto;
    text-align: center;
    margin-bottom: 50px;
    font-size:26px;
  }
  #Auranzeb{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(2, 110px);
    margin-top:20px;
    gap:0px 0px;
  
  }
  #Auranzeb>div{
    width:100%;
    height:90px;
  }
  .Kohli>img{
    width:150px;
    height:52.5px;
  }
  
  #mid-back{
    width: 100%;
    height: 1300px;
    background-color: #f8f8f8;
  }
  
  #head{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
  #mid-top{
      /* position: relative; */
      /* border: 1px solid red; */
      width: 70%;
      height: 1100px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2, 500px);
      gap : 40px;
      margin: auto;
  }
  
  #mid-top > div{
       margin: auto;
       width: 100%;
       height: 500px;
       border-radius: 10px;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #mid-top > div >p{
    padding-left: 30px;
  }
  
  #mid-top > div >h3{
    padding-left: 30px;
    padding-top: 30px;
  }
  
  #top{
    position: relative;
    width: 100%;
    height: 100px;
  }
  
  .first{
    display: inline-block;
    position: absolute;
    width:100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .second{
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 60px;
    left: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  ul{
    list-style: none;
  }
  
  ul li:before {
    content:"\2714\0020";
  }
  
  .kick{
    margin-left: 30px;
    margin-top: 20px;
    width: 30%;
    height: 40px;
    border : 0px;
    border-radius: 5px;
  }
  
  .kick:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #d1,#d2{
    background-color: #ffede3;
    color: #f89d74;
  }
  #d3{
    background-color: #dfe8f9;
    color: #618be4;
  }
  #d4{
    background-color: #e6defa;
    color: #836eea;
  }
  
  
  #mid-mid{
    margin: auto;
    width: 100%;
    height: 450px;
    text-align: center;
  }
  
  #blocks{
      width:70%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,400px);
  }
  
  #blocks > div{
    margin: auto;
    width: 70%;
    height: 250px;
    border-radius: 5px;
    border: 1px solid lightgrey;
  }
  
  #blocks > div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #blocks > div > h1{
    margin-top: 40px;
  }
  
  #blocks > div > h3{
    margin-top: -30px;
  }
  
  #blocks > div > div{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  #blocks > div > div >img{
    margin: auto;
    width: 147px;
    height: 85px;
  }
  
  #blocks > div > div >#pic{
    margin: auto;
    width: 84px;
    height:110px;
    margin-top: -20px;
  }
  
  hr{
   width:80%;
  margin: auto;
  }
  
  #mid-down{
    width: 100%;
    height: 200px;
    display: block;
    background-color: #f89d74 ;
    color: white;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px; 
    text-align: center;
    border-radius: 5px;
  }
  
   #change{
    width: 18%;
    height: 50px;
    background-color: white;
    color: #f89d74;
    border-radius: 5px;
    border : 0px;
    font-weight: bold;
    margin-top: 20px;
  }
  
   #change:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
  
 
  #mid-top ul li{
      margin-left: 30px;
  }

  #mid-top h3 {
      margin: 20px 0px;
  }

  #mid-top p{
      margin-right: 20px;
  }

  #mid-top button{
      margin-top: 40px;
  }

  #blocks h1{
      margin-bottom: 30px;
  }

  #blocks h3{
      margin-bottom:10px;
  }
  #blocks>div:first-child >p{
      margin-top:30px;
  }

  #Akbar button{
      margin-left: 42%;
  }
  
  #Akbar p:last-child{
      margin-top: 20px;
   margin-left: 43%;
  }